body {
  background-color: #f8f9fa;
}
.main-container {
    height: 100vh; /* Ocupa a altura total da viewport */
}
.sidebar {
  min-width: 200px;
  background-color: #fff;
  border-right: 1px solid #dee2e6;
  padding-top: 20px;
}
.sidebar a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s;
}
.sidebar a.active {
  background-color: #6f42c1;
  color: #fff;
  border-radius: 8px;
}
.sidebar a:hover {
  background-color: #6f42c1;
  color: #fff;
  border-radius: 8px;
}
.action-btn {
  background-color: #6f42c1;
  color: white;
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s ease-in-out;
}
.action-btn:active {
  transform: scale(0.95);
}
.action-icon {
  margin-right: 10px;
  font-size: 1.5rem;
}
